.about {
	min-height: 100vh;
	background-color: $brand-grey;
	li {
		list-style-type: none;
		display: inline-block;
		// color: $brand-color;   
		a {
			text-decoration: none;
			display: block;
			color: $brand-color;   
		}
	}
}

#aboutcontainer {
	text-align: center;
	padding-top: 40vh;
	-moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    	a {
    		text-decoration: none;
			color: $brand-color;   
		}
}

.abouttextcontainer {
	width: 50%;
	margin: auto;
	margin-top: 50px;
}

.bigabout {
	font-size: 70px;
}
