.applycontainer {
	background-color: yellow;
	height: 100vh;
	width: 100vw;
}

.wrapapply {
	margin-left: auto;
	margin-right: auto;
}

button .applybutton {
	background-color: #3D8F96;
}


.applyform {
	padding-top: 90px;
}