// .landingcontainer {
// 	  width: 100%;
// }

#landing {
  background: url(/img/vicypark.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#landing h1, h5 {
    color: white;
    text-align: center;
    display:block;
    font-size: 48px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 3px #666;
    font-weight: 400;
    padding-top: 40vh;
}

.landingimage {
    width: 100%;
    height: auto;
    display: block;
}

.landingcontainer .logo {
	font-size: 40px;
	color: blue;
    text-align: center;
    display:block;
    margin: 0;

}