// .landingcontainer {
// 	  width: 100%;
// }

.landingimage {
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

