// .landingcontainer {
// 	  width: 100%;
// }

#landing {
    background: url(http://i.imgur.com/EZzzzlb.jpg) no-repeat center center fixed; 
    ///img/vicypark.jpg
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    #title-wrapper {
        display: block;
        margin: auto;
        #title {
            display:block;
            margin: 0;
            padding-top: 340px;
            color: white;
            text-align: center;
            font-size: 60px;
            font-family: $base-font-family;
            text-shadow: 1px 1px 3px #666;
            font-weight: 100;
            letter-spacing: 2px;
        }
    }
}

@media (max-width: 420px) {
    #landing {
        #title-wrapper {
            #title {
                padding-top: 200px;
                font-size: 40px;
                font-weight: 200;
                letter-spacing: 1px;
                padding-left: 20px;
                padding-left: 20px;
            }
        }
    }
}