$facblue: #81D0D7;
.navwrap {
    z-index: 999;
	width: 100%;
	height: 150px;
	background-color: #2A2A2A;
	position: fixed;
	padding:30px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    font-weight: 100;
    div.logo-wrapper {
        padding-left: 30px;
        padding-top: 25px;
        float: left;
        #logo {
            font-size: 45px;
            color: $facblue;
            margin-bottom: 0;
            margin-top: 0;
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            -webkit-transition: all 0.7s;
            -moz-transition: all 0.7s;
            -o-transition: all 0.7s;
            transition: all 0.7s;

        }
    }
    #spin-wrapper {
        position: absolute;
        right: 60%;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
        margin-top: -15px;
        img {
            max-width: 75px;
        }
    }
    ul.navbar{
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
        margin-left: 0;
        margin-bottom: 0;
    	padding-top: 35px;
    	padding-right: 30px;
    	font-size: 18px;
    	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    	li{
			float: right;
			padding-right: 40px;
			list-style-type: none;
			a{
				display: block;
				text-decoration: none;		
				color: white;
                -webkit-transition: color 200ms;
                -moz-transition: color 200ms;
                -o-transition: color 200ms;
                transition: color 200ms;
                &:hover {
                    color: $facblue;
                    -webkit-transition: color 200ms;
                    -moz-transition: color 200ms;
                    -o-transition: color 200ms;
                    transition: color 200ms;
                }
			}
		}
	}
}

.navedit {
	div.logo-wrapper {
        #logo {
            margin-top: -40px;
            font-size: 25px;
        }
	}
    div#spin-wrapper {
        padding-top: 10px;
        right: 70%;
    }
    ul.navbar {
        padding-top: 0;
        li {
           margin-top: -10px; 
        }
    }
}
