$facblue: #81D0D7;
.navwrap {
    z-index: 99;
	width: 100%;
	height: auto;
	background-color: $brand-color;
    -webkit-transition: background-color 400ms;
    -moz-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
	//height: 150px;
	position: fixed;
	padding:30px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    font-weight: 100;
    // opacity: 0.9;
    div.logo-wrapper {
        padding-left: 30px;
        padding-top: 25px;
        float: left;
        #logo {
            font-size: 45px;
            margin-bottom: 0;
            margin-top: 0;
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            -webkit-transition: all 400ms;
            -moz-transition: all 400ms;
            -o-transition: all 400ms;
            transition: all 400ms;
            a {
                color: $brand-grey;
                text-decoration: none;
            }

        }
    }
    #spin-wrapper {
        position: absolute;
        right: 54%;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
        margin-top: -15px;
        #spin-img {
            max-width: 70px;
            position: relative;
        }
        #bulb {
            -webkit-transition: all 400ms;
            -moz-transition: all 400ms;
            -o-transition: all 400ms;
            transition: all 400ms;
            max-width: 48px;
            position: absolute;
            top: 11px;
            right: 11px;
        }
    }
    ul.navbar{
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 12%;
    	padding-top: 35px;
    	padding-right: 30px;
    	font-size: 18px;
    	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    	li{
			float: right;
			padding-right: 4%;
			list-style-type: none;
			a{
				display: block;
				text-decoration: none;		
				color: white;
                -webkit-transition: color 200ms;
                -moz-transition: color 200ms;
                -o-transition: color 200ms;
                transition: color 200ms;
                &:hover {
                    color: $facblue;
                    -webkit-transition: color 200ms;
                    -moz-transition: color 200ms;
                    -o-transition: color 200ms;
                    transition: color 200ms;
                }
			}
		}
	}
}	

/* MOBILE NAV */
#menu-button {
	color: white;
}

.divide {
   	border-bottom: 1px solid #eee;
 }

#dropdown {
	display: none;
	margin: auto;
}

#togglecopy {
		font-size: 30px;
		float: right;
        z-index: 100;
        cursor: pointer;
        padding-top: 9px;
        padding-right: 30px;
    }

.shownav {
	display: inline-block;
	width: 100%;
	float: left;
	li:first-child { 
		border-top: 1px solid #eee;
	}
	// border-bottom: 1px solid #eee;

	li {
		padding: 10px;
		padding-left: 0px;
		float: left;
		width: 100%;
		border-bottom: 1px solid #eee;


	}
}
 
.inline {
	display:inline;
	color:red;
}    


@media (max-width:800px) {
	#collapse {
		display:none;
		margin-bottom: 15px;
	}

	#dropdown {
		display: inline;
	}
}


.navedit {
    background-color: $brand-grey;
    -webkit-transition: background-color 400ms;
    -moz-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
    // opacity: 1;
	div.logo-wrapper {
        #logo {
            margin-top: -40px;
            margin-left: 150px;
            font-size: 25px;
            a {
                color: $brand-color;
            }
        }
	}
    div#spin-wrapper {
        padding-top: 10px;
        #bulb {
            top: 21px;
        }
    }
    ul.navbar {
        padding-top: 0;
        li {
           margin-top: -10px; 
        }
    }
}
