#parallax {
    height: 120vh;    
    .part-wrapper {
        width: 50%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: inline-block;
        float: left;
        background-color: #444;
        #tech-stack {
            padding: 20px;
            .icon-wrapper {
                img {
                    max-width: 20%;
                    display: block;
                    margin: auto;
                }
            }
        }
        #titles-right {
            #tagline-wrapper {
                h2#taglines {
                    color: white;
                    font-family: Montserrat,"Helvetica Neue",;
                }
                text-align: left;
                padding: 20px
            }
        }
    }
}

@media (max-width: 676px) {
    #parallax { 
        
        #tech-stack-wrapper { 
            height:initial;
            width: 20%;  
            #tech-stack {
                padding: 10px;
                .icon-wrapper {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        #titles-right-wrapper {
              
            width: 80%;  
            #titles-right {
                #tagline-wrapper {
                    h2#taglines {    
                        font-size: 33px;
                        margin-left: 33px;
                    }
                }
            }
        }
    }
}

