---
layout: basic
---
<div class="post">

    <header class="post-header">
        <div class="post-img-wrapper">
            <img src="{{page.picture}}"/>
        </div>
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    <script>
        nav.classList.add("navedit");
        nav.style.height = "50px";
    </script>

</div>
