<div name="about" id="about" class="about">
  <div id="aboutcontainer" onclick="document.getElementById('aboutcontainer').style.padding = '20vh 0vh 20vh 0vh'">
    <li class="bigabout"><a ui-sref="aboutus" ui-sref-active='uiactive'>ABOUT </a></li>
    <li class="bigabout">&nbsp;/&nbsp;</li>
    <li class="bigabout"><a ui-sref="faq" ui-sref-active='uiactive'>FAQ</a></li>
    <li class="bigabout">&nbsp;/&nbsp;</li>
    <li class="bigabout"><a ui-sref="curriculum" ui-sref-active='uiactive'>CURRICULUM</a></li>
    <div class="aboutcontent" id="ui-container" ui-view></div>    
  </div>    
</div>
