<div id="contact" class="contact">
  <div class="centercontainer">
    <div class="bit-100">
      <div id="call" class="bigicon icon-phone"></div>
      <p>+44 20 3583 2442</p>
    </div>	
    <div class="bit-100">
      <a href="https://www.google.co.uk/maps/place/14+Palmers+Rd,+London+E2+0SY" target="_blank" id="visit" class="bigicon icon-location"></a>
      <p>14 Palmers Road, London E2 OSY</p>	
    </div>
    <div class="bit-100">	
      <a href="mailto:contact@foundersandcoders.org?Subject=Hello%20Founders%20and%20Coders" id="email" class="icon-mail-alt bigicon"></a>
      <p>contact@foundersandcoders.org</p>
    </div>		
  </div>	
  <div class="centercontainer">
    <a href="https://twitter.com/founderscoders" target="_blank" id="twitter" class="testy icon-twitter mediumicon"></a>
    <a href="https://www.facebook.com/foundersandcoders" target="_blank" id="facebook" class="testy icon-facebook mediumicon"></a>		
  </div>	
  <div class="centercontainer">
    <div id="subscribeinput">  
      <div id="mc_embed_signup"> 
        <form action="//foundersandcoders.us9.list-manage.com/subscribe/post?u=a7247a4b4a67ac1517dba5895&amp;id=ee56d303a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" role="form" novalidate>
          <div class="form-group">
	    <div id="mc_embed_signup_scroll">  
	      <input type="email" class="form-control required" name="EMAIL" id="mce-EMAIL" placeholder="Enter email">
	      <button type="submit" id="mc-embedded-subscribe" class="btn btn-default">Subscribe to updates</button>
	    </div> 
	    <div id="mce-responses" class="clear"> 
	      <div class="response" id="mce-error-response" style="display:none"></div> 
	      <div class="response" id="mce-success-response" style="display:none"></div> 
	    </div>
          </div> 
        </form> 
      </div>
    </div> 
  </div> 
</div>
