<div id="landing" style="background-position: 0px 0px;">
    <div id="title-wrapper">
        <h1 id="title">Become a Software Developer.</h1>
    </div>
    <!-- <div class="promo-banner" style="display: block;">
        <button class="promo-button">
            <a href="http://www.meetup.com/founderscoders/events/221075394/">
                <img src="http://img2.meetupstatic.com/img/8308650022681532654/header/logo-2x.png" alt="meetup brand logo">
            </a>
        </button>
        <a href="#"><p>Build Your Responsive Website in a Day</p>
        <p>Join us for a Weekend Workshop!</p></a>
    </div> -->
</div>
