<header ng-controller="ScrollCtrl">
    <div class="navwrap" id="nav">
        <div class="logo-wrapper">
            <p id="logo"><a href="/">FOUNDERS & CODERS</a><p>
        </div>
        <div id="spin-wrapper">
            <img id="spin-img" src="/img/sun1-b&w.png" alt="">
            <img id="bulb" src="/img/logob&w.png" alt="founders">
        </div>
        <div id="dropdown">
            <div id="togglecopy" onclick="mobileNav('collapse')">
                <div id="menu-button">
                    <i class="icon-menu"></i>
                </div>
            </div>  
        </div> 
        <ul id="collapse" class="navbar" >
            <li><a ng-click="scrollTo('contact')" href="#contact">Contact</a></li>
            <li><a ng-click="scrollTo('about')" href="/#about">About</a></li>            
            <li><a href="/blog.html">Stories</a></li>
            <li><a href="/hire.html">Hire us</a></li> 
            <li><a href="/apply.html">Apply</a></li>
        </ul>
    </div>
</header>

<!-- ng-click="scrollTo('aboutcontainer')"  -->
