<div class="section" id="parallax">
    <div class="part-wrapper" id="tech-stack-wrapper">
        <div id="tech-stack">
            <div class="icon-wrapper">
                <img src="img/jsalt.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/nodejsalt.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/hapialt.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/angularalt.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/sassalt.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/d3alt.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/jsalt.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/nodejsalt.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/hapialt.png" alt="">
            </div>            
        </div>
    </div>
    <div class="part-wrapper" id="titles-right-wrapper">
        <div id="titles-right">
            <div id="tagline-wrapper">
                <h2 id="taglines">8 WEEKS<br>FULL-TIME<br>FREE</h2>
                <p>Founders & Coders is the UK's only free coding academy. We take students with little or no knowledge of programming and turn them into full-stack web-developers.</p>
            </div>
        </div>
    </div>
</div>    
