<!-- <iframe id="video" src="//www.youtube.com/embed/5iiPC-VGFLU" frameborder="0" allowfullscreen></iframe> -->

<!-- <iframe id="video" src="//player.vimeo.com/video/114122044" width="100%" height="660px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->

<!-- <iframe id="video" src="//www.youtube.com/embed/f6RCsYyQW3o?rel=0&amp;controls=0&amp;showinfo=0" width="100%" height="660px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
 -->

<iframe id="video" src="//www.youtube.com/embed/LgRdicAAy8g?rel=0&amp;controls=0&amp;showinfo=0" width="100%" height="750px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>