.about {
	min-height: 100vh;
	background-color: $brand-grey;
	padding-left: 5px;
	padding-right: 5px;
	li {
		list-style-type: none;
		display: inline-block;
		list-stlye-position:outside;
		a {
			text-decoration: none;
			display: block;
		}
	}
}

#aboutcontainer {
	text-align: center;
	padding-top: 40vh;
	padding-bottom: 40vh;
	-moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    	a {
    		text-decoration: none;
		}
}

.abouttextcontainer {
	max-width: 700px;
	margin: auto;
	margin-top: 40px;
}

.bigabout {
	font-size: 70px;
}

@media(max-width: 600px) {
	.bigabout {
		font-size: 40px;
	}
}

#ui-container {
	margin-top: 10px;
}

.ng-scope h4 {
	margin-top: 30px;
	margin-bottom: 3px;
	font-size: 22px;
}

.ng-scope > img {
	background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 15px;
}

.uiactive {
	color:$text-color;
}

.curriculumcontainer {
	max-width: 600px;
	margin: auto;
	margin-top: 40px;
	li {
		list-style-type: initial;
		text-align: left;
		display: list-item;
	}
}

@media(max-width: 420px) {
	.about {
		background-color: $brand-color;
		li {
			color: $text-color;
			a {
				color: white;
			}
			a:hover{
				color: $text-color;
			}
		}
	}
	.aboutcontent	{
		a, p, li {
			color: white;
		}
		a:hover {
			color: $text-color;
		}
	}
}

