.blog{
    padding: 5px;
    padding-top: 100px;
    background-color: $brand-grey;
    #blog-wrapper {
        #list-wrapper {
            overflow: hidden;
            margin:auto;
            padding: 80px 5px 5px 5px;
            max-width: 900px;
            li {
                list-style: none;
                height: 250px;
                .blog-img-wrapper {
                    overflow: hidden;
                    width: 25%;
                    float: left;
                    img {
                        width: 160px;
                        -webkit-filter: grayscale(40%);
                        box-shadow: 0px 0px 3px 0px #000;
                        border-radius :50%;
                    }
                }
                .blog-panel {
                    padding-top: 60px;
                    width: 75%;
                    float: left;
                    .blog-heading {
                        a {
                            color: $grey-color;
                            -webkit-transition: all 400ms;
                            -moz-transition: all 400ms;
                            -o-transition: all 400ms;
                            transition: all 400ms;
                            &:hover {
                                color: white;
                                text-decoration: none;
                                -webkit-transition: all 400ms;
                                -moz-transition: all 400ms;
                                -o-transition: all 400ms;
                                transition: all 400ms;
                            }
                            h2.blog-title {
                                font-family: $base-font-family;
                                font-weight: 100;
                                font-size: 30px;
                            }
                        }
                    }
                    .blog-summary {
                        p.summary {
                            color: $brand-color;
                            font-size: 14px;
                        }
                        h3.author {
                            font-family: $base-font-family;
                            font-weight: 300;
                        }
                        a {
                            text-decoration: none;
                            color: $grey-color-light;
                            text-decoration: underline;
                            -webkit-transition: all 400ms;
                            -moz-transition: all 400ms;
                            -o-transition: all 400ms;
                            transition: all 400ms;
                            &:hover {
                                color: white;
                                text-decoration: underline;
                                -webkit-transition: all 400ms;
                                -moz-transition: all 400ms;
                                -o-transition: all 400ms;
                                transition: all 400ms;
                            }
                            h6 {

                            }
                        }
                    }
                }
            }
        }
    }
}
.post {
    background-color: $brand-grey;
    padding-top: 90px;
    padding-bottom: 200px;
    header.post-header {
        .post-img-wrapper {
            text-align: center;
            img {
                border-radius: 50%;
                max-width: 250px;
                margin-top: 70px;
            }
        }
        h1.post-title {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    article.post-content {
        max-width: 900px;
        margin: auto;
        padding: 5px;
        p {
            color: #ddd;
        }
    }
}

@media (max-width: 810px) {
    .blog{
        #blog-wrapper {
            #list-wrapper {
                padding: 0px 5px 5px 5px;
                li {
                    height: 0px;
                }
                .blog-img-wrapper {
                      display: none;
                    }
                }
            } 
        }
    }    



