.socialcontainer {
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  display:inline-block;
  text-align:center;
  width: 100%;
}


.contact {
	background: url(/img/old-mile-end-dark.jpeg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}

#subscribeinput {
	margin-top: -90px;
}

@media (max-width: 1000px) {
	#subscribeinput {
		margin-top: -130px;
	}
}

#subscribeinput form {
	margin-bottom: 10px;
	.form-group {
		#mc_embed_signup_scroll {
			input {
				font-family: $base-font-family;
				color: $text-color;
				font-size: 16px;
				display: inline-block;
				padding-left: 15px;
				outline: 0px;
				border: none;
				-webkit-appearance: none;
				width: 250px;
				height: 40px;
				margin: 3px;
				border-radius: 1px;
				// box-sizing: border-box;
				// -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				// -moz-box-sizing: border-box;
			}
			.btn {
				display: inline-block;
				margin-bottom: 0; // For input.btn
				text-align: center;
				font-family: $base-font-family;
				color: $brand-grey;
				font-size: 16px;
				vertical-align: middle;
				cursor: pointer;
				border: none;
				vertical-align: bottom;
				background-color: $brand-color;
				background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
				white-space: nowrap;
				width: 250px;
				height: 40px;
				margin: 3px;
				border-radius: 1px;
				&,
				&:hover,
				&:focus {
					// color: $btn-default-color;
					text-decoration: none;

				}

				&:active,
				&.active {
					outline: 0;
					background-image: none;
					// @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
				}
			}
		}
	}
}

//Inputs

.bit-100 p {
	margin-top: 20px;
}

@media (max-width: 420px) {
	.contact {
	background: $brand-grey; 
	}
}





