@font-face {
  font-family: 'fontello';
  src: url('../assets/font/fontello.eot?16517335');
  src: url('../assets/font/fontello.eot?16517335#iefix') format('embedded-opentype'),
       url('../assets/font/fontello.woff?16517335') format('woff'),
       url('../assets/font/fontello.ttf?16517335') format('truetype'),
       url('../assets/font/fontello.svg?16517335#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16517335#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
 /*foced text-decoration:none, certainly a better way of doing it*/
.icon-location:before { content: '\e800'; text-decoration: none; } /* '' */
.icon-menu:before { content: '\e801'; text-decoration: none; } /* '' */
.icon-facebook:before { content: '\e802'; text-decoration: none; } /* '' */
.icon-twitter:before { content: '\e803'; text-decoration: none; } /* '' */
.icon-phone:before { content: '\e804'; text-decoration: none; } /* '' */
.icon-mail-alt:before { content: '\e805'; text-decoration: none; } /* '' */

/*Additional*/
.bigicon {
  font-size: 40px;
  color:$brand-color;
}

.mediumicon {
  font-size: 30px;
  color:$brand-color;
}





