.generic-container {
    padding: 5px;
    display: block;
    padding-top: 90px;
    padding-bottom: 100px;
    max-width: 800px;
    margin: auto;
    display: relative;
    h2 {
	padding-top: 20px;
    }
}

.centre {
    text-align: center;
}