// .landingcontainer {
// 	  width: 100%;
// }

#landing {
    background: url("http://i.imgur.com/EZzzzlb.jpg") no-repeat center center fixed; 
    ///img/vicypark.jpg
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    #title-wrapper {
        display: block;
        margin: auto auto 2em;
        #title {
            display:block;
            margin: 0;
            padding-top: 45vh;
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-size: 80px;
            font-family: $base-font-family;
            -webkit-font-smoothing: antialiased;
            text-shadow: 1px 1px 3px #666;
            font-weight: 100;
            letter-spacing: 0px;
        }
    }
}

.promo-banner {
    position: relative;
    p {
        text-align: center;
        font-family: sans-serif;
        font-weight: 100;
        color: white;
        margin-bottom:6px;
        margin-top: 2px;
        text-shadow: black 0px 5px 10px;
    }
}

.promo-button {
    margin: 0 auto;
    display: block;
    background-color: initial;
    border: none;
    &:before, &:after {
        content: "";
        display: block;
        width: 8%;
        height: 0.4em;
        background-color: #e51937;
        position: absolute;
        top: 50%;
        box-shadow: 0px 2px 0px 0px #790D1D;
    }
    &:before {
        left: 39%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    &:after {
        right: 39%;
        transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
        content: "";

    }
    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 1200px) {
    .promo-button {
        &:before, &:after {
            width: 6%;
        }
    }
}

@media(max-width:990px) {
    #landing {
        #title-wrapper {
            #title {
                padding-top: 35vh;
            }
        }        
    }
    .promo-button {
        &:before, &:after {
            width: 7%;
        }
        &:before {
            left: 35%;
        } 
        &:after {
            right: 35%;
        }
    }
}

@media(max-width:600px) {
    #landing {
        #title-wrapper {
            #title {
                padding-top: 35vh;
                font-size: 40px;
                font-weight: 200;
                letter-spacing: 1px;
            }
        }
    }
    .promo-button {
        &:before, &:after {
            width: 14%;
        }
        &:before {
            left: 23%;
        } 
        &:after {
            right: 23%;
        }
    }
}

@media(max-width:420px) {
    #landing {
        background: $brand-color;
    }
    .promo-banner {
        p {
            padding: 0 15px;
        }
    }
    .promo-button {
        &:before, &:after {
            display: none;
        }
    }
}