$facblue: #81D0D7;
.navwrap {
    z-index: 99;
    width: 100%;
    // height: 50px;
    background-color: $brand-grey;
    -webkit-transition: background-color 400ms;
    -moz-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
    position: fixed;
    padding-top: 0;
    padding-right: 70px;
    padding-left: 125px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    font-weight: 100;
    // opacity: 0.9;
    p {
        color: $brand-grey;
    }
    div.logo-wrapper {
        padding-left: 5%;
        padding-top: 25px;
        float: left;
        #logo {
            margin-top: -10px;
            margin-bottom: 0;
            margin-left: 0;
            font-size: 25px;
            font-family: $logo-font-family;
            -webkit-transition: all 400ms;
            -moz-transition: all 400ms;
            -o-transition: all 400ms;
            transition: all 400ms;
            a {
                color: $brand-color;
                text-decoration: none;
            }

        }
    }
    #spin-wrapper {
        position: absolute;
        left: 50%;
        top: 10px;
        margin-left: -35px;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
        padding-top: 10px;
        #spin-img {
            max-width: 70px;
            position: relative;
        }
        #bulb {
            -webkit-transition: all 400ms;
            -moz-transition: all 400ms;
            -o-transition: all 400ms;
            transition: all 400ms;
            max-width: 48px;
            position: absolute;
            top: 21px;
            right: 11px;
        }
    }
    ul.navbar{
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
        margin-left: 0;
        margin-bottom: 0;
        // margin-right: 12%;
        padding-top: 25px;
        padding-right: 5%;
        font-size: 16px;
        font-family: $base-font-family;
        li{
            float: right;
            padding-right: 3%;
            list-style-type: none;
            margin-top: -10px; 
            a{
                display: block;
                text-decoration: none;      
                color: white;
                -webkit-transition: color 200ms;
                -moz-transition: color 200ms;
                -o-transition: color 200ms;
                transition: color 200ms;
                &:hover {
                    color: $facblue;
                    -webkit-transition: color 200ms;
                    -moz-transition: color 200ms;
                    -o-transition: color 200ms;
                    transition: color 200ms;
                }
            }
        }
    }
}

/* MOBILE NAV */
#menu-button {
	color: white;
}

.divide {
   	border-bottom: 1px solid #eee;
 }

#dropdown {
	display: none;
	margin: auto;
}

#togglecopy {
		font-size: 30px;
		float: right;
        z-index: 100;
        cursor: pointer;
        padding-top: 9px;
        padding-right: 30px;
    }

.shownav {
	display: inline-block;
	width: 100%;
	float: left;
	li:first-child { 
		border-top: 1px solid #eee;
	}
	// border-bottom: 1px solid #eee;

	li {
		padding: 10px;
		padding-left: 0px;
		float: left;
		width: 100%;
		border-bottom: 1px solid #eee;


	}
}
 
.inline {
	display:inline;
	color:red;
}    

.navedit {
    background-color: $brand-color;
    -webkit-transition: background-color 400ms;
    -moz-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    transition: background-color 400ms;
    padding-top: 30px;
    padding-left: 75px;
    div.logo-wrapper {
        #logo {
            margin-top: 0;
            margin-left: 0;
            font-size: 45px;
            a {
                color: $brand-grey;
            }
        }
    }
    div#spin-wrapper {
        top: 20px;
        padding-top: 0px;
        #bulb {
            top: 11px;
        }
    }
    ul.navbar {
        padding-top: 45px;
        li {
           margin-right: 0;
        }
    }
}


@media (max-width:992px) {
    .navwrap {
        padding: 15px 20px 10px;
        div.logo-wrapper {
            padding: 0;
            margin-top: 10px;
            margin-left: 20px;
            p#logo {
                margin: 0;
                font-size: 30px;
            }
        }
        div#spin-wrapper {
            display: none;
            position: relative;
            float: left;
            right: initial;
            margin-left: 8%;
            padding-top: 13px;
            #spin-img {
                max-width: 34px;
            }
            #bulb {
                max-width: 22px;
                top: 19px;
                right: 6px;
            }
        }
        ul.navbar {
            margin: 0 0 0 0;
            padding: 10px 10px 15px 10px;
            li {
                margin: 0 1%;
                padding: 5px;
            }
        }
    }
}
@media (max-width:768px) {
    .navwrap {
        padding: 15px 20px 10px;
        div.logo-wrapper {
            padding: 0;
            margin-top: 10px;
            margin-left: 20px;
            p#logo {
                margin: 0;
                font-size: 30px;
            }
        }
        div#spin-wrapper {
            display: none;
            position: relative;
            float: left;
            right: initial;
            margin-left: 8%;
            padding-top: 13px;
            #spin-img {
                max-width: 34px;
            }
            #bulb {
                max-width: 22px;
                top: 19px;
                right: 6px;
            }
        }
        #dropdown {
            display: inline;
            float: right;
            margin-right: 20px;
            #togglecopy {
                padding: 5px;
            }
        }
        ul.navbar {
            display:none;
            margin: 0 0 0 0;
            padding: 10px 10px 15px 10px;
            li {
                margin: 0;
                padding: 5px;
            }
        }
    }
}

@media (max-width:420px) {
    .navwrap {
        padding: 10px 10px 0px;
        div.logo-wrapper {
            padding: 0;
            margin-top: 10px;
            margin-left: 5px;
            p#logo {
                margin: 0;
                font-size: 20px;
            }
        }
        div#spin-wrapper {
            display: none;
            position: relative;
            float: left;
            right: initial;
            margin-left: 8%;
            padding-top: 13px;
            #spin-img {
                max-width: 34px;
            }
            #bulb {
                max-width: 22px;
                top: 19px;
                right: 6px;
            }
        }
        #dropdown {
            display: inline;
            float: right;
            #togglecopy {
                padding-right: 0px;
                padding-top: 3px;
                font-size: 25px;
            }
        }
        ul.navbar {
            display:none;
            margin: 0 0 0 0;
            padding: 10px 10px 15px 10px;
            li {
                margin: 0;
                padding: 5px;
            }
        }
    }
}



