#parallax {
    height: 100vh;
    margin-top: -13vh; 
    box-shadow: 0px -5px 5px rgba(0,0,0,0.2);

    .part-wrapper {
        width: 50%;
        height: 100%;
        overflow: hidden;
        padding: 0;
        margin: 0;
        display: inline-block;
        float: left;
        background-color: $brand-color;
        -webkit-transition: background-color 400ms;
        -moz-transition: background-color 400ms;
        -o-transition: background-color 400ms;
        transition: background-color 400ms;
        #tech-stack {
            // margin-top: 120px;
            padding: 100px 20px 20px;
            .icon-wrapper {
                img {
                    max-width: 20%;
                    display: block;
                    margin: auto;
                    opacity: 0.7;
                }
            }
        }
        #titles-right {
            #tagline-wrapper {
                max-width: 320px;
                margin-left: 10%;
                padding: 30% 0;
                h2#taglines {
                    color: $text-color;
                    font-family: $base-font-family;
                    font-size: 65px;
                    text-shadow: 1px 1px 3px black;
                    font-weight: 100;
                    letter-spacing: 2px;
                    transition: color 400ms;
                }
                p {
                    color: $text-color;
                    font-family: $base-font-family;
                    text-align: left;
                    font-weight: 200;
                } 
            }
        }
    }
}

#parallax.parallaxedit {
    .part-wrapper {
        background-color: $brand-grey;
        -webkit-transition: background-color 400ms;
        -moz-transition: background-color 400ms;
        -o-transition: background-color 400ms;
        transition: background-color 400ms;
    }
}

@media (min-width: 769px) {
    #parallax {    
        .part-wrapper {
            #tech-stack {
                padding: 140px 20px 20px;
                .icon-wrapper {
                    &:nth-child(odd) {
                        img {
                            margin-left: 20%
                        }
                    }
                    &:nth-child(even) {
                        img {
                            margin-right: 20%
                        }
                    }
                }
            }
        }
    }
}

@media  (max-width: 768px) {
    #parallax {
        height: initial;
        .part-wrapper {
            background-color: $brand-grey;
            padding: 20px 0;
        }
        #tech-stack-wrapper { 
            height:initial;
            width: 20%;  
            #tech-stack {
                padding: 15px;
                .icon-wrapper {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        #titles-right-wrapper {
            width: 80%;  
            #titles-right {
                padding: 10% 10px;
                #tagline-wrapper {
                    padding: 0;
                    h2#taglines {    
                        font-size: 45px;
                        margin-left: 20%;
                        margin-bottom: 40px;
                        font-weight: 100;
                        letter-spacing: 3px;
                    }
                    p {
                        font-size: 16px;
                        letter-spacing: 1px;
                        font-weight: 200;
                        margin-left: 20%;
                        bottom: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 420px) {
    #parallax {
        #titles-right-wrapper {
            padding-top: 10px;
            padding-bottom: 30px;
            #titles-right {
                padding: 15px;
                #tagline-wrapper {
                    margin-left: 0px;
                    padding: 0;
                    h2#taglines {
                        font-size: 30px;
                        padding-top: 22vh;
                    }
                    p {
                        margin-top: 0;
                        font-size: 11px;
                        padding: 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 360px) {
    #parallax {
        #tech-stack-wrapper {
            #tech-stack {
                .icon-wrapper {
                    img {
                        max-width: 135%;
                    }
                }
            }
        }
    }
}
