<div class="about">
	<div id="aboutcontainer" onclick="document.getElementById('aboutcontainer').style.padding = '10vh'">
        <li class="bigabout"><a ui-sref="aboutus" ui-sref-active='uiactive'>ABOUT </a></li>
		<li class="bigabout">&nbsp;/&nbsp;</li>
        <li class="bigabout"><a ui-sref="faq" ui-sref-active='uiactive'>FAQ</a></li>
        <li class="bigabout">&nbsp;/&nbsp;</li>
        <li class="bigabout"><a ui-sref="curriculum" ui-sref-active='uiactive'>CURRICULUM</a></li>
        <div id="ui-container" ui-view></div>    
    </div>    
</div>