<div class="contact">
	<div class="centercontainer">
		<div class="bit-100">
			<div id="call" class="bigicon icon-phone"></div>
			<p>+447 727 207 226</p>
		</div>	
		<div class="bit-100">
			<div id="visit" class="bigicon icon-location"></div>
			<p>14 Palmers Road, London E2 OSY</p>	
		</div>
		<div class="bit-100">	
			<a href="mailto:contact@foundersandcoders.org?Subject=Hello%20Founders%20and%20Coders" id="email" class="icon-mail-alt bigicon"></a>
			<p>contact@foundersandcoders.org</p>
		</div>		
	</div>	

	<div class="centercontainer">
		<a href="https://twitter.com/founderscoders" id="twitter" class="testy icon-twitter mediumicon"></a>
		<a href="https://www.facebook.com/foundersandcoders" id="facebook" class="testy icon-facebook mediumicon"></a>		
	</div>	

	<div class="centercontainer">
		<div id="subscribeinput">  
			<input type="email" class="form-control required" name="EMAIL" placeholder="Enter email">
			<button type="submit" class="btn">Subscribe to updates</button>
		</div> 
	</div> 
</div>
