<header>
    <div class="navwrap" id="nav">
        <div class="logo-wrapper">
            <p id="logo"><a href="/">Founders & Coders</a><p>
        </div>
        <div id="spin-wrapper">
            <img id="spin-img" src="img/sun1-b&w.png" alt="">
            <img id="bulb" src="img/logoOnedifferent-b&w.png" alt="founders">
        </div>
        <div id="dropdown">
            <div id="togglecopy" onclick="mobileNav('collapse')">
                <div id="menu-button">
                    <i class="icon-menu"></i>
                </div>
            </div>  
        </div> 
        <ul id="collapse" class="navbar" >
            <li><a href="">FAQ</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="/hire.html">Hire</a></li>
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="/apply.html">Apply</a></li>
        </ul>
    </div>
</header>


<!-- var d = document.getElementById("div1");
d.className = d.className + " otherclass";

 -->
<script>
    function mobileNav (element){
        var collapse = document.getElementById(element)
        if (collapse.style.display == "none"){
            collapse.className = collapse.className + " shownav"
            collapse.style.display = "inline";
        }else{
            collapse.className = "navbar";
            collapse.style.display = "none";
        };
    };
</script>
