<header>
  <div class="navwrap" id="nav">
    <div class="logo-wrapper">
      <p id="logo">Founders & Coders<p>
    </div>
    <div id="spin-wrapper">
      <img id="spin-img" src="img/sun.png" alt="">
    </div>
    <ul id="menu" class="navbar collapse">
        <li><a href="">FAQ</a></li>
        <div class=""></div>
        <li><a href="">Contact</a></li>
        <div class=""></div>
        <li><a href="">Partner</a></li>
        <div class=""></div>
        <li><a href="">Blog</a></li>
        <li><a href="/partners">Apply</a></li>
    </ul>
   	</div>
  </div>
</header>