<header>
  <div class="navwrap">
    <div class="logo">
      <p>Founders & Coders<p>
    </div>
    <div class="spin-wrapper">
      <img id="spin-img" src="img/sun.png" alt="">
    </div>
    <ul class="navbar collapse">
        <li><a href="">FAQ</a></li>
        <div class=""></div>
        <li><a href="">Contact</a></li>
        <div class=""></div>
        <li><a href="">Partner</a></li>
        <div class=""></div>
        <li><a href="">Blog</a></li>
        <li><a href="/partners">Apply</a></li>
    </ul>
   	</div>
  </div>
</header>