<div class="section" id="parallax">
    <div class="part-wrapper" id="tech-stack-wrapper">
        <div id="tech-stack">
            <div class="icon-wrapper">
                <img src="img/js.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/nodejswhite.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/hapi.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/angular.png" alt="">
            </div>
            <div class="icon-wrapper">
                <img src="img/sass.png" alt="">
            </div>
        </div>
    </div>
    <div class="part-wrapper" id="titles-right-wrapper">
        <div id="titles-right">
            <div id="tagline-wrapper">
                <h2 id="taglines">16 weeks,<br>full time,<br>free</h2>
            </div>
        </div>
    </div>
</div>    