<div id="tech-stack">
    <div class="icon-wrapper">
        <img src="img/js.png" alt="">
    </div>
    <div class="icon-wrapper">
        <img src="img/node" alt="">
    </div>
    <div class="icon-wrapper">
        <img src="" alt="">
    </div>
    <div class="icon-wrapper">
        <img src="" alt="">
    </div>
    <div class="icon-wrapper">
        <img src="" alt="">
    </div>
</div>

<div id="titles-right">
    <div id="tagline-wrapper">
        <h2 id="taglines">16 weeks,<br>full time,<br>free</h2>
    </div>
</div>
