---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
    font-family: "Lux";
    src: url("../assets/font/Lux.otf");
}
@font-face {
    font-family: "font1";
    src: url("../assets/font/font1.otf");
}

@font-face {
    font-family: "comp";
    src: url("../assets/font/Camptoncopy.otf");
}

// Our variables
$base-font-family: 'Lux';
$logo-font-family: 'font1';
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #999;
$background-color: #333;
$brand-color:      #78B7BA;
$brand-grey:       #333;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "about",
		"apply",
        "base",
        "blog",
        "contact",
        "fontello",
        "hire",
        "landingpage",
        "layout",
        "lemonade",
        "nav",
        "navaml",
        "parallax",
        "syntax-highlighting"
;
